h1{
    color: green;
    text-align: center;
    text-decoration: overline;
}
h2{
    color: green;
    text-align: center;
}

body{
    background-color:wheat;
}
body{
    text-align: initial;
    overflow-x: hidden;
}
body{
    padding: initial;
}
body{

    text-align: left;
}

body{

    padding: inherit;
}
.struc {
    align-items: flex-start;
    /* height: 450px; */
    width: 720px;
    display: block;
    align-self: left;
    float: left;

}
iframe {
    align-self: start;
    float: right;
}
.media {
    display: flex;
    flex-direction: row;
}
#box {
    border: wheat;
    width: auto;
    height: 320px;
    overflow: scroll;
    display: inline-flex;
}
.clean {
    border: wheat;
    height: 330px;
}
#clean {
    float: left;
}
.one {
    border: wheat;
    height: 230px;
}
/* #justify {
    float: right;
    position: absolute;
} */